<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Nerd News - Início</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" href="../css/default-styles.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/header-styles.css">
    <link rel="stylesheet" href="../css/index-styles.css">
    <!-- External Links -->
    <script src="https://kit.fontawesome.com/681e669534.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Roboto:wght@400;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo"><a href="index.html">Nerd News</a></label>
        <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="news.html">Notícias</a></li>
            <li><a href="contact.html">Entre em contato</a></li>
        </ul>
    </nav>

    <section class="index">
        <div class="container">
            <div class="text-elements width-50">
                <h1 class="text-color">Encontre notícias sobre suas séries favoritas!</h1>
                <p class="mg-top-2 sec-text-color font-size-15">
                    Aqui você encontra as notícias mais recentes sobre as séries das diversas plataformas de streaming.
                </p>
                <div class="buttons mg-top-5">
                    <a href="news.html" class="news font-size-15 primary-color">Notícias</a>
                    <a href="contact.html" class="contact font-size-15 primary-color"><i
                            class="fas fa-paper-plane"></i>Contato</a>
                </div>
            </div>
            <div class="image-element">
                <img src="../img/book-writer.svg" alt="Notícias">
            </div>
        </div>
    </section>

</body>

</html>