<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Nerd News - Notícias</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" href="../css/default-styles.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/header-styles.css">
    <link rel="stylesheet" href="../css/news-styles.css">
    <!-- External Links -->
    <script src="https://kit.fontawesome.com/681e669534.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Roboto:wght@400;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="top">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo"><a href="index.html">Nerd News</a></label>
        <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="news.html">Notícias</a></li>
            <li><a href="contact.html">Entre em contato</a></li>
        </ul>
    </nav>

    <div class="section-title mg-top-5">
        <h1 class="text-color">E aqui você encontra as notícias mais recentes :)</h1>
    </div>
    <section class="cards" id="cards">
        <div class="container">
            <div class="card">
                <div class="card-image">
                    <img src="../img/card-images/the-witcher-2.jpg" alt="The Witcher">
                </div>
                <div class="card-title">
                    <p class="font-size-15">08/03/2021</p>
                    <h3 class="primary-color">The Witcher: Iniciadas gravações da 2º temporada.</h3>
                </div>
                <div class="card-text">
                    <p class="font-size-15 primary-color">Foi divulgado essa semana o calendário de gravações da série,
                        que
                        deve...</p>
                </div>
                <div class="view-more">
                    <a href="news-detail.html">Ler mais</a>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="../img/card-images/wanda-vision-1.jpg" alt="Wanda Vision">
                </div>
                <div class="card-title">
                    <p class="font-size-15">08/03/2021</p>
                    <h3 class="primary-color">WandaVision: 1º temporada finalizada nessa sexta.</h3>
                </div>
                <div class="card-text">
                    <p class="font-size-15 primary-color">Um tremendo sucesso! Os assinantes da Disney+ receberam essa
                        sem...</p>
                </div>
                <div class="view-more">
                    <a href="news-detail.html">Ler mais</a>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="../img/card-images/american-gods-1.jpg" alt="American Gods">
                </div>
                <div class="card-title">
                    <p class="font-size-15">08/03/2021</p>
                    <h3 class="primary-color">American Gods: 3º temporada estreia na Amazon Prime.</h3>
                </div>
                <div class="card-text">
                    <p class="font-size-15 primary-color">Ontem estreou mais uma temporada do sucesso da Amazon Prime
                        Víd...</p>
                </div>
                <div class="view-more">
                    <a href="news-detail.html">Ler mais</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../img/card-images/falcao-soldado-invernal.jpg" alt="Falcão e o Soldado Invernal">
                </div>
                <div class="card-title">
                    <p class="font-size-15">08/03/2021</p>
                    <h3 class="primary-color">Falcão e o Soldado Invernal ganha data de estreia no Brasil.</h3>
                </div>
                <div class="card-text">
                    <p class="font-size-15 primary-color">Ontem foi revelada a data de estreia na Disney+ da série
                        Falcão e...</p>
                </div>
                <div class="view-more">
                    <a href="news-detail.html">Ler mais</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../img/card-images/the-mandalorian.jpg" alt="The Mandalorian">
                </div>
                <div class="card-title">
                    <p class="font-size-15">08/03/2021</p>
                    <h3 class="primary-color">The Mandalorian: 3º temporada já tem data de estreia.</h3>
                </div>
                <div class="card-text">
                    <p class="font-size-15 primary-color">Com o fim da 2º temporada, a LucasFilm já começa a trabalhar
                        na produção da terc...</p>
                </div>
                <div class="view-more">
                    <a href="news-detail.html">Ler mais</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../img/card-images/vikings.jpg" alt="Vikings">
                </div>
                <div class="card-title">
                    <p class="font-size-15">08/03/2021</p>
                    <h3 class="primary-color">Vikings: Katheryn Winnick acha que Lagertha deveria ter outro destino.
                    </h3>
                </div>
                <div class="card-text">
                    <p class="font-size-15 primary-color">Vikings finalizou sua temporada com muita tristeza e morte.
                        Katheryn Winnick que...</p>
                </div>
                <div class="view-more">
                    <a href="news-detail.html">Ler mais</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../img/card-images/the-flash.jpg" alt="Flash">
                </div>
                <div class="card-title">
                    <p class="font-size-15">08/03/2021</p>
                    <h3 class="primary-color">Flash: Nova temporada já está sendo produzida.</h3>
                </div>
                <div class="card-text">
                    <p class="font-size-15 primary-color">Novidade! Em breve teremos mais uma temporada de Flash, para a
                        alegria dos fãs do homem...</p>
                </div>
                <div class="view-more">
                    <a href="news-detail.html">Ler mais</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../img/card-images/the-boys.jpg" alt="The Boys">
                </div>
                <div class="card-title">
                    <p class="font-size-15">08/03/2021</p>
                    <h3 class="primary-color">The Boys: 3º temporada já começou a ser gravada.</h3>
                </div>
                <div class="card-text">
                    <p class="font-size-15 primary-color">A espera pdoe estar mais curta do que se imagina, visto que a
                        terceira temporada começou...</p>
                </div>
                <div class="view-more">
                    <a href="news-detail.html">Ler mais</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../img/card-images/supernatural.jpg" alt="Supernatural">
                </div>
                <div class="card-title">
                    <p class="font-size-15">08/03/2021</p>
                    <h3 class="primary-color">Supernatural: Após 15 temporadas, série chega ao fim.</h3>
                </div>
                <div class="card-text">
                    <p class="font-size-15 primary-color">Ontem tivemos o episódio final de Supernatural, que
                        surpreendeu a todos com seu desfecho...</p>
                </div>
                <div class="view-more">
                    <a href="news-detail.html">Ler mais</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../img/card-images/shingeki-no-kyiojin.jpg" alt="Shingeki No Kyojin">
                </div>
                <div class="card-title">
                    <p class="font-size-15">08/03/2021</p>
                    <h3 class="primary-color">Shingeki No Kyojin: 4º e última temporada faz sucesso no Brasil.</h3>
                </div>
                <div class="card-text">
                    <p class="font-size-15 primary-color">Shingeki no Kyojin chega à sua última temporada e fãs já estão
                        ansiosos pelo desfecho...</p>
                </div>
                <div class="view-more">
                    <a href="news-detail.html">Ler mais</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../img/card-images/lucifer.jpg" alt="Lucifer">
                </div>
                <div class="card-title">
                    <p class="font-size-15">08/03/2021</p>
                    <h3 class="primary-color">Lúcifer: Segunda parte da 5º temporada chega à Netflix.</h3>
                </div>
                <div class="card-text">
                    <p class="font-size-15 primary-color">Tendo a primeira parte da quinta temporada lançada ano
                        passado, Lucifer agora tem...</p>
                </div>
                <div class="view-more">
                    <a href="news-detail.html">Ler mais</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../img/card-images/jujutsu-kaizen.jpg" alt="Jujutsu Kaisen">
                </div>
                <div class="card-title">
                    <p class="font-size-15">08/03/2021</p>
                    <h3 class="primary-color">Jujutsu Kaisen: Lançado o 11º episódio do anime no Brasil.</h3>
                </div>
                <div class="card-text">
                    <p class="font-size-15 primary-color">Jujutsu Kaisen é um sucesso no Brasil e lá fora, e conta com
                        episódios semanais...</p>
                </div>
                <div class="view-more">
                    <a href="news-detail.html">Ler mais</a>
                </div>
            </div>
            <div class="back-top">
                <a href="#top">Voltar ao topo</a>
            </div>
        </div>
    </section>
</body>

</html>